# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

CMakeLists.txt.user
CMakeLists_modified.txt

Examples/Monocular-Inertial/mono_inertial_euroc

KeyFrameTrajectory.txt
CameraTrajectory.txt
kf_*.txt
f_*.txt
Thirdparty/DBoW2/build/
Thirdparty/DBoW2/lib/
Thirdparty/g2o/build/
Thirdparty/g2o/config.h
Thirdparty/g2o/lib/
Vocabulary/ORBvoc.txt
build/

lib/

cmake_modules/
cmake-build-debug/
cmake-build-release/

ExecMean.txt
SessionInfo.txt
Results_Euroc.txt
LBA_Stats.txt
LocalMapTimeStats.txt
TrackLocalMapStats.txt
TrackingTimeStats.txt
# time*
# Time*
Table_Euroc
Table_TUMVI_rooms/
*.pyc
*.osa
.idea/
my_settings.txt

borrar/*

*/ExecMean.txt

.vscode/
result/
.vscode
*.swp
evaluation/euroc_eval_example.sh
bash/
Rocky.md
*.pdf
evaluation/mesh_evaluation/simplemapping
**model.pt
test.txt
test_demo.sh

**visualization/
**depth_evaluation/
**mesh_evaluation/